<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="stylesheet" href="__CDN__/static/style2.css">
<link rel="stylesheet" href="__CDN__/static/zcc.css">
<link rel="stylesheet" type="text/css" href="__CDN__/larryms/css/admin/base.css" media="all">
<link rel="stylesheet" type="text/css" href="__CDN__/larryms/css/admin/admin.css">
<title>clock system</title>
</head>
<body >
    <div class="topbox" > 
        <img src="__CDN__/static/Notification.png" style="width: 40px;height: 40px;left:350px;top:16px"></img>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="picture">
                <img src="__CDN__/static/user.png"style="position: absolute;width:150px;height: 150px;left: 30px;top: 80px;"></img>
            </div>
            <p style="width: 147px;height: 25px;left: 40px;top: 210px;">{$user.username}</p>
            <p style="width: 147px;height: 25px;left: 40px;top: 240px;">{$user.email}</p>
            <a href="{:url('profile')}" class="profile">Profile</a>
            <a href="{:url('layout')}" class="out">Sign out</a>
            <script type="text/javascript">
                  function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.body.style.backgroundColor = "white";
                }
            </script>
        </div>
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
                    <script type="text/javascript">
                        function openNav() {
                            document.getElementById("mySidenav").style.width = "270px";
                            document.getElementById("mySidenav").style.height = "896px";
                            document.body.style.backgroundColor = "rgba(246,177,0,1)";
                        }
                    </script>
        </div>
        <img src="__CDN__/static/DoerHRM Logo1.png"></img>
        <label></label>
        <p style="font-size:20px;"> Dear, Ms.{$user.lastname} Welcome!</p>
        <div class="datatime" id="dateTime" >
            <script>
                Date.prototype.format = function (fmt) 
                    {
                        var o = {
                        "y+": this.getFullYear, 
                        "M+": this.getMonth() + 1, 
                        "d+": this.getDate(), 
                        "h+": this.getHours(), 
                        "m+": this.getMinutes(), 
                        "s+": this.getSeconds() 
                    };
                    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                    for (var k in o)
                        if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                        return fmt;
                    }
                setInterval("document.getElementById('dateTime').innerHTML = (new Date()).format('yyyy-MM-dd hh:mm:ss');", 1000);
            </script>
        </div>
    </div>
    <div class="punch" >
            <button style="width:100px;height:50px;background-color:#083C7A99;border-radius:15px;color: #FFFFFF;" onclick="punch()">punch in</button>
    </div>
    <div class="group1">
        <img src="__CDN__/static/set.png"></img>
        <p style="padding-left:5px;">Setting</p>
    </div>
    <div class="group2">
        <a href="{:url('sign')}">
            <img src="__CDN__/static/attendance.png"></img>
        <p style="padding-left:0px;">My<br/>Attendance</p>
        </a>
        
    </div>
     <div class="group3">
        <a href="{:url('user_map')}">
            <img src="__CDN__/static/map.png"></img>
            <p style="padding-left:10px;">My<br/>Map</p>
        </a>
    </div>
    <script type="text/javascript">
        function punch()
        {
            location.href = "{:url('map')}";
        }
    </script>
    <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="__CDN__/static/acc.js"></script>

</body>
</html>