<!DOCTYPE html>
<html>
<head>
<mete charset="utf-8"/>
<link rel="stylesheet" href="__CDN__/static/mapstyle.css">
<title>GPS</title>

</head>

<body>
    <div class="topbox">
        <p>Time Clock</p>
        <span  onclick="openNav()">⇦</span>
        <script type="text/javascript">
            function openNav() {
                location.href="dashboard.html";
            }
        </script>
        <button style="width: 50px; height: 50px; border-radius: 50%;border: none;position:absolute;left:350px;top:100px" onclick="check()">Confirm</button>
    </div>

<div class="map">

    <div class="maps" style="position:relative;">
       <div id="allmap" style="width: 112%;height:500px;"></div>
        <button style="width:180px;height:50px;position:absolute;background-color:#083C7A99;;border-radius:20px;color: #FFFFFF;left: 120px;top: 650px;" onclick="getLocation()">Clock</button>
    </div>
    <div id="mapholder" style="left: 0px;top: -75px;"></div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=06X5CFrCbSinfSDfjySMDUB4a6gNkp3Q"></script>
<script src="__CDN__/layer/layer.js"></script>
<script type="text/javascript">
	var user_id = {$user.id};
	var user_name = "{$user.username}";
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(119.49014,35.425478);
    map.centerAndZoom(point,12);
 	var distance = 0;
 	var address = "";
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function(r){console.log(r.point)
        if(this.getStatus() == BMAP_STATUS_SUCCESS){
            var mk = new BMap.Marker(r.point);
            map.addOverlay(mk);
            map.panTo(r.point);
            var point = new BMap.Point(r.point.lng,r.point.lat);
            var coordinate = "119.49014,35.425478";
            var arr = coordinate.split(",");
            var lon = arr[0];      
            var lat = arr[1];
            var pointA = new BMap.Point(lon,lat); 
            var gc = new BMap.Geocoder();
            
            gc.getLocation(point, function(rs){
            	address = rs.address;
                var province = 0; //获取省份
                var city = 0; //获取城市
                var district = 0; //区
                var street = 0; //街
                var streetNumber = 0; //街
                var business = 0; //建筑
                var addComp = rs.addressComponents;
                province = addComp.province; //获取省份
                city = addComp.city; //获取城市
                district = addComp.district; //区
                street = addComp.street; //街
                streetNumber = addComp.streetNumber; //街
                business = addComp.business; 
                circle = new BMap.Circle(pointA, 3000, {
	                fillColor: "blue",
	                strokeWeight: 1,
	                fillOpacity: 0.2,
	                strokeOpacity: 0.2
	            });
	            map.addOverlay(circle);
	            distance = map.getDistance(pointA,point).toFixed(2);
	            
            });
            
        }else {
            $("#errormsg").html("Error locating, please try again");
            $("#errormsg").show();
            alert('failed'+this.getStatus());
        }        
    },{enableHighAccuracy: true});
    function getLocation(){
    	if (distance <= 3000) {
        	$.post("user_sign",{user_id:user_id,name:user_name},function(res){
        		layer.msg(res.msg)
        	},'json');
        } else {
        	layer.msg("Check in failed, current location:"+address)
        }
    }
    function check(){
    	location.reload();
    }
</script>
</body>
</html>