html
{
background-color: white;
}
body
{
position: relative;
width: 414px;
height: 896px;

background: #FFFFFF;
border-width: 2px;
border-style: solid;
border-color: black;
}
.topbox
{
position: absolute;
width: 414px;
height: 160px;
left: 0px;
top: 0px;

background: #F6B100;
}
.topbox p
{
position: absolute;
width: 134px;
height: 59px;
left: 128px;
top: 51px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.topbox span
{
position: absolute;
width: 50px;
height: 50px;
left: 9px;
top: 5px;
font-size:30px;
cursor:pointer;
}
.map
{
position: absolute;
width: 414px;
height: 736px;
left: 0px;
top: 160px;
}
.maps
{
position:absolute;
width: 360px;
height: 75px;
}

.time
{
position: absolute;
width: 400px;
height: 74px;
left: 7px;
top: 175px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
